In [1]:
#Importing Dependencies
import pandas as pd
import requests
import datetime

In [2]:
#Start Dates
start_date = datetime.date(2010, 1, 1)
end_date = datetime.date(2020, 12, 1)
delta = datetime.timedelta(days=25)

start_list =[]

while start_date <= end_date:
    start_list.append(start_date)
    start_date += delta

In [3]:
#End Dates
start_date = datetime.date(2010, 1, 26)
end_date = datetime.date(2021, 12, 1)
delta = datetime.timedelta(days=25)

end_list =[]

while start_date <= end_date:
    end_list.append(start_date)
    start_date += delta

In [4]:
#Converting lists to strings 
end_str_list = []
for i in range(0,len(end_list)):
    end_str_list.append(end_list[i].strftime('%Y%m%d'))
    
start_str_list =[]
for i in range(0,len(start_list)):
    start_str_list.append(start_list[i].strftime('%Y%m%d'))

In [5]:
#List of endpoints for API
complete_endpoints = []
for i in range(0,len(start_str_list)):
    complete_endpoints.append(f"{start_str_list[i]}:{end_str_list[i]}")

In [6]:
#Base URL setup
base_url = "https://www.ncdc.noaa.gov/swdiws/json/nx3tvs/"

In [7]:
#List of all URLs
all_urls = []
for dates in complete_endpoints:
    complete_url = base_url + dates
    all_urls.append(complete_url)
#print(len(all_urls))

In [8]:
#List/Variables setup
cell_type =[]
shape =[]
max_shear = []
wsr_id =[]
mxdv = []
cell_id =[]
ztime = []
azimuth = []
range_ = []
lat = []
lon = []

#url_counter = 1

# Start of Log
print("-----------------------------")
print("Beginning Data Retrieval")
print("-----------------------------")

#----BEGIN Loop----
# Looping through urls and appending data to lists
for url in all_urls:
    try:
        response = requests.get(url).json()
        for i in range(len(response["result"])):
            cell_type.append(response["result"][i]["CELL_TYPE"])
            shape.append(response["result"][i]["SHAPE"])
            max_shear.append(response["result"][i]["MAX_SHEAR"])
            wsr_id.append(response["result"][i]["WSR_ID"])
            mxdv.append(response["result"][i]["MXDV"])
            cell_id.append(response["result"][i]["CELL_ID"])
            ztime.append(response["result"][i]["ZTIME"])
            azimuth.append(response["result"][i]["AZIMUTH"])
            range_.append(response["result"][i]["RANGE"])
            lon.append(response["result"][i]["SHAPE"].split()[1:][0].split('(')[1])
            lat.append(response["result"][i]["SHAPE"].split()[1:][1].split(')')[0])
            #print(f"Processing Record {i} of URL {url_counter}")
        #url_counter += 1
    
    except(KeyError, IndexError):
        print(f"URL {url} not found. Skipping...")

#----END Loop-----

# End of Log
print("-----------------------------")
print("Data Retrieval Complete")
print("-----------------------------")

-----------------------------
Beginning Data Retrieval
-----------------------------
-----------------------------
Data Retrieval Complete
-----------------------------

In [9]:
#Creating dataframe of all records
dict = {"Cell_Type": cell_type,
        "Shape": shape,
        "Max_Shear": max_shear,
        "WSR_ID": wsr_id,
        "MXDV": mxdv,
        "Cell_ID": cell_id,
        "zTime": ztime,
        "Azimuth": azimuth,
        "Range": range_,
        "Lat": lat,
        "Lon": lon
       }

df = pd.DataFrame(dict)
#df.head()

In [10]:
df['Date']=pd.to_datetime(df['zTime']).dt.date
df['Time']=pd.to_datetime(df['zTime']).dt.time
df.head()

,Cell_Type,Shape,Max_Shear,WSR_ID,MXDV,Cell_ID,zTime,Azimuth,Range,Lat,Lon,Date,Time
0,TVS,POINT (-122.924330736217 47.7661898699012),51,KATX,101,H0,2010-01-01T12:46:10Z,214,31,47.7661898699012,-122.924330736217,2010-01-01,12:46:10
1,TVS,POINT (-122.888847222961 47.770626615833),37,KATX,68,W0,2010-01-01T13:20:22Z,212,30,47.770626615833,-122.888847222961,2010-01-01,13:20:22
2,TVS,POINT (-122.144427929546 48.5982702666017),61,KATX,108,M1,2010-01-01T14:14:07Z,30,28,48.5982702666017,-122.144427929546,2010-01-01,14:14:07
3,TVS,POINT (-122.511166187337 48.0788701061506),136,KATX,70,U1,2010-01-01T15:08:46Z,185,7,48.0788701061506,-122.511166187337,2010-01-01,15:08:46
4,TVS,POINT (-134.963460637064 56.5287391075857),32,PACG,54,A0,2010-01-07T07:19:50Z,136,27,56.5287391075857,-134.963460637064,2010-01-07,07:19:50